<%= @workout.date %>
<br>

<% @workout.exercises.each do |exercise| %>
    <li><%= exercise.name %>: <%= exercise.weight %> lbs</li>
<% end %>

<form action="/log/<%= @workout.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="DELETE LOG">
</form>

