<form method="post" action="/profile">
    <label>Name:</label>
    <br>
    <input type="text" name="name">
    <br>
    <label>Age:</label>
    <br>
    <input type="text" name="age">
    <label>Weight:</label>
    <br>
    <input type="text" name="weight">
    <br>
</form>