<h1>Profile of <%= @user.username %></h1>

<h2> Create new Workout </h2>
<a href

Logout Button
<form method="post" action="/logout">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Logout">
</form>