<html>
<head>
  <title>WEBSITE</title>
  <link rel="stylesheet" href="../../public/stylesheets/main.css"/>
</head>
<body>
  <div class="container">
    <div class="navbar">
      <nav>
        <ul><li><a href="">Login</a></li>
          <li><a href="">Sign Up</a></li>
          <li><a href="">Text</a></li>
        </ul>
      </nav>
    </div>
  </div>
</body>

</html>